// 大小
.small{
  width: 1.25rem; // 20px
  height: 1.25rem; // 20px
}
.medium{
  width: 1.5rem; // 24px
  height: 1.5rem; // 24px
}
.large{
  width: 2rem; // 32px
  height: 2rem; // 32px
}

// 旋转
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 2s linear infinite;
}